/* Estilo general para html y body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: #f4f4f4;
    background-image: url(../Imagenes/crocus-2107024_1280.jpg);  /* Reemplazar con la URL correcta de tu imagen */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* Contenedor principal */
.container {
    text-align: center;
    margin-top: 150px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

/* Formulario */
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%; 
}

/* Estilo para las etiquetas */
label {
    font-size: 18px;
    color: #333;
}

/* Estilo para los campos de texto */
input[type="text"] {
    width: 80%; 
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Botón de envío */
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    margin: 30px;
}

.boton:hover {
    background-color: #444;
    transform: scale(1.05);
}

/* Contenedor para los botones */
.contenedor-boton {
    display: flex;  
    justify-content: center; 
    align-items: center; 
    height: 100%;  
    background-color: transparent; 
    gap: 30px;
}

/* Estilo del botón dentro del contenedor */
.contenedor-boton .boton {
    background-color: #007bff;  /* Color primario del botón */
    padding: 12px 20px;
    text-align: center;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contenedor-boton .boton:hover {
    background-color: #0056b3;  /* Cambio de color al pasar el ratón */
    transform: scale(1.05);  
}


@media (max-width: 768px) {
    .container {
        width: 90%;  
        margin-top: 100px;  
    }

    .formulario input[type="text"] {
        width: 90%;  
    }

    .boton {
        padding: 8px 16px;  
        font-size: 14px;  
    }
}
